body{
  background-color:rgb(25,25,25);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  color:white;
  font-size:28px;
  font-weight:600;
}

.icon{
  width:120px;
  height:120px;
  background-color:transparent;
  border:3px solid white;
  border-radius:80px;
  padding:0;
  cursor:pointer;
}
.icon > img{
  width:50px;
  height:50px;
  background:transparent;
  padding:-20px;
}

.status{
  color:white;
  font-size:26px;
  font-weight:600;
}
.score{
  color:white;
  font-size:18px;
  font-weight:500;
}
.move{
   color:white;
  font-size:18px;
  font-weight:500;
}
.reset{
  padding:6px 20px;
}

